<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MS DHONI</title>
    <link rel="stylesheet" href='css/style.css'>
</head>
<body>
    <img src="https://c.ndtvimg.com/2024-09/kmh89fd8_ms-dhoni-bcci_625x300_15_September_24.jpg?im=FeatureCrop,algorithm=dnn,width=806,height=605" alt="MS DHONI">
    <h1>MS DHONI</h1>
    <p>The best Captain India has produced in Cricket.He is the Legend, whom we call as THALA.</p>
</body>
</html>